@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  /* background-color: #303030;  */
}

/* .body {
  background-color: var(--background-color);
  background-color: #303030;
} */

.back {
  /* background-image: url(https://source.unsplash.com/random); */
  background-repeat: "no-repeat";
  /* background-image: url("./img/simione.jpeg"); url("./img/lago.webp"); */
  height: 200vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  /* background-color: black;
  color: white; */
}
